<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestFabric.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7677CE21CDC1E1D0057A83B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7677CF61CDC1E1E0057A83B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7677D011CDC1E1E0057A83B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
